

#benvenuto {
    color: white;
    text-align: center;
    font-family: Lucida, monospace;
    border-radius: 65%;
    font-size:40px;
    border: 5px red solid;
    background-color: black;
}

#h1 {
    color: white;
    text-align: left;
    margin-left: 0;
}
#h2 {
    color:  white;
    text-align: center;
    display:flex;
    justify-content: space-evenly;

}
#time-box {
    width: 15%;
    height: 10%;
    background-color: darkblue;
    text-align: center;
    align-self: auto;
    margin-left:0;
}
#spotbox {
    width: 80%;
    height: 100%;
    background-color: darkblue;
    text-align: center;
    
}
#meteo {
    width: 100%;
    height: 100%;
    background-color: darkblue;
    text-align: right;
    margin-left:500%;

}

#time-box, #spotbox, #meteo {
    border: 2px solid white;
    padding: 10px;
    }